<div class="container">
    <div class="row">
        <div *ngIf="!busy" class="col-md-8">
          <h3>Super-secret user products</h3>

          <table class="table small">

              <!-- "fridgeName":null,"model":null,"volume":0,"refrigeratory":0, -->
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Refrigeratory Status</th>
                    <th scope="col"></th> 
                    <th scope="col"></th> 
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products; let i = index" [attr.data-index]="i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.refrigeratory}}</td>     
                    <td>         
                      <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.id)">
                        <span>Delete</span>                    
                      </button>       
                    </td>    
                  </tr>                 
                </tbody>
              </table>            
        </div>
    </div>
    <ngx-spinner></ngx-spinner>  
</div>